<span class="modal__icon"><i class="icon-gamepad"></i></span>
<div class="modal__title">
  <h2>Get Remote Control URL</h2>
</div>
<div class="modal__body">
  <form name="form" ng-submit="ok(!form.modalEmail.$invalid)" class="form send-remote-url">
    <div class="form-item send-remote-url__input">
      <input name="modalEmail" type="email" placeholder="Type your email here" ng-model="result.email" required="required" class="input-text input-text--huge input--full"/>
    </div>
    <div class="flexbox__item send-remote-url__qr"><img ng-src="http://qrickit.com/api/qr?d={{currentEncodedURL}}&amp;bgdcolor=f7f7f7&amp;fgdcolor=7f748c&amp;qrsize=180" width="90" height="90"/></div>
  </form>
</div>
<div class="modal__footer">
  <button ng-disabled="form.modalEmail.$invalid" ng-click="ok(true)" class="btn btn--positive">Ok, send.</button>
  <button ng-click="cancel()" class="btn btn--negative">Cancel</button>
</div>