
<div class="ppk-canvas">
  <div class="ppk-canvas__container">
    <div ng-hide="files.length" class="ppk-canvas__drop">
      <ppk-drop on-drop="handleFiles()" files="files"></ppk-drop>
    </div>
    <div ng-show="files.length" class="ppk-canvas__preview"><img class="ppk-canvas__image"/>
      <canvas width="640" height="480" class="ppk-canvas__editor"></canvas>
      <ppk-drag-rectangle position="position"></ppk-drag-rectangle>
    </div>
  </div>
  <div class="ppk-canvas__tools">
    <button tabindex="-1" ng-click="clear()" class="ppk-canvas__tool ppk-canvas__clear">&times;</button>
    <button tabindex="-1" ng-click="download()" class="ppk-canvas__tool ppk-canvas__save">Pobierz;</button>
    <div class="float--right">
      <input type="number" placeholder="Width"/>&times;
      <input type="number" placeholder="Height"/>
    </div>
  </div>
</div>