
<div ng-class="getThemeClass()" class="haiku">
  <div ng-show="categories.length" ng-dblclick="navVisible = !navVisible">
    <ol class="haiku__categories">
      <li ng-repeat="category in categories" ng-class="getCategoryClass(category)" class="haiku__category">
        <div class="haiku__category-content">
          <ol ng-show="category.slides.length" class="haiku__slides">
            <li ng-repeat="slide in category.slides" ng-style="getSlideStyle(slide)" ng-class="getSlideClass(slide)" class="haiku__slide">
              <section ng-bind-html="slide.body" class="haiku__slide-content"></section>
            </li>
          </ol>
        </div>
      </li>
    </ol>
  </div>
</div>